@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Pretendard';
}
.login-form{
    width: 460px;
    padding: 40px 0px;
    border-radius: 24px;
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25), 0px 4px 4px 0px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form .title{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form input{
    width: 380px;
    height: 50px;
    background-color: #dedede;
    margin-bottom: 14px;
    padding: 20px;
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 18px;
    border: none;


}
.login-form input::placeholder{
    font-size: 16px;
    color: #959595;
    font-weight: bold;
}
.login-form input.login-btn{
    box-shadow: none;
    background-color: #000;
    height: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}